<div class="bordas">
  <br />
  <h1>Animais:</h1>
  <ul>
    <li *ngFor="let animal of animals">
      <mat-card>
        <mat-card-content class="animal">
          <h2>{{ animal.name }} - {{ animal.age }} anos</h2>
          <button mat-raised-button (click)="detalhar(animal)">
            Mostrar animal
          </button>
          <button mat-raised-button (click)="removeAnimal(animal)">
            Remover animal
          </button>
          <br />
        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</div>

<p class="aula">list-render, interface, services, dynamic routes</p>
