/* You can add global styles to this file, and also import other style files */
* {
    margin: 10;
    padding: 10;
    font-family: cursive;
}

a {
    font: caption-latin;
}

.section {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 1em;
    text-align: center;
}